html {
  font-size: 62.5%;
  font-family: "Kumbh Sans", sans-serif;


  @media screen and (min-width: 100em){
    font-size: 75%;
  }
}

/* html, body {
  overflow-x: hidden;
}

body {
  position: relative;
} */

@media screen and (min-width: 100em) {
  html {
    font-size: 93.75%;
  }
}
@media screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }

  /* .nav__links {
    display: none;
  } */
}

@media screen and (max-width: 56.25em){
  html {
    font-size: 50%;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




.nav {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #777;
  height: 8rem;
  margin: 0 auto;
  padding: 0 4rem;
}

.hamburger--menu {
  display: none;
}

.logo {
 
  color: black;
  font: "magneto";
  width: 100px;
}

@media screen and (max-width: 25em) {
  .logo {
    width: 8rem;
  }
}

.nav__item {
  display: inline-block;
  list-style: none;
  margin-right: 3rem;
  flex: 0 0 30%;
}

.nav__link,
.nav__link:visited,
.nav__link:active {
  text-decoration: none;
  color: #777;
  transition: all 0.4s;
}

.nav__link:hover {
  color: #000;
  border-bottom: 1px solid hsl(26, 100%, 55%);
}

.nav__cta {
  /* display: flex;
  align-items: center; */
  display: grid;
  grid-template-columns: repeat(2, min-content);
  align-items: center;
  grid-column-gap: 6rem;
}

@media screen and (max-width: 40.625em){
  .nav__cta{
    grid-column-gap: 4rem;
  }
}

@media screen and (max-width: 25em){
  .nav__cta{
    grid-column-gap: 1.8rem;
  }
}

.nav__cart {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  /* margin-right: 4rem; */
}

.cart {
  width: 2rem;
  height: 2rem;
}

.nav__profile {
  width: 4rem;
  height: 4rem;
}

@media screen and (max-width: 25em){
  .nav__profile {
    width: 3rem;
    height: 3rem;
  }
}

main {
  position: relative;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform: scale(.8); */
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr)); */
  width: 70vw;
  margin: 10rem auto;
  /* grid-column-gap: 5rem; */
  
  /* margin: 14rem 10vw; */
}

.overlay {
  background-color: #000;
  opacity: .4;
}

.mobile-nav {
  width: 40vw;
  background-color: blue;
  /* height: 100%; */
  display: none;
  background-color: #fff;
  box-shadow: 0 .8rem 2rem rgba(0, 0, 0, .3);
  display: inline-block;
  position: absolute;
  padding: 4rem;
  /* top: -5rem; */
  left: 10rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: .5rem;
  z-index: 40;

  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  grid-row-gap: 4rem;

  display: grid;
  grid-template-rows: repeat(2, min-content);

}

.pointer {
  cursor: pointer;
}

.fixed {
  position: fixed;
}

.mobile-nav-close {
  width: 20%;
}

.mobile-nav a {
  font-size: 2rem;
}

.nav__links--mobile {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  
  
  display: grid;
  grid-template-rows: repeat(5, min-content);
  grid-row-gap: 2rem;
  height: 70%;
}


@media screen and (max-width: 56.25em) {
  .nav__links {
    display: none;
  }

  .logo {
    margin-right: auto;
    margin-left: 2vw;
  }

  .hamburger--menu {
    display: block;
  }

  .product {
    display: flex;
    flex-direction: column;

    width: 70%;
    margin: 10rem auto;
  }

  .hero__picture{
    margin-bottom: 0;
    width: 50vw;
  }

  .product__picture {
    height: auto;
    flex-shrink: 1;
    width: 40%;
  }

  .product__picture--sub {
    display: flex;
    justify-content: center;
  }

  .sub__img {
    border-radius: 50%;
  }

  

  .product__description{
    margin-top: 2rem;
  }

  .add--cart {
    flex: 0;
    flex-shrink: 1;
    height: 6rem;
  }

  .product-cta{
    width: 60%;
  }

  .action--items{
    height: 6rem;
    flex: 40%;
  }
  
}


@media screen and (max-width: 40.625em){
  
}

.carousel {
  flex: 0 0 50%;
}


.product__picture {
  
  /* max-width: 300px; */
  object-fit: contain;
  
  display: flex;
  transform: translateX(0);
  transition: transform .2s;
}

.hero__picture {
  width: 100%;
  margin-bottom: 3rem;
  border-radius: 1.3rem;
  
}

.product__picture--sub {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  grid-column-gap: 3vw; 
  width: 100%;
}

.sub__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0.5rem;
}

.carousel {
  align-items: center;
  display: flex;
  margin: 2rem auto;
  overflow: hidden;
  position: relative;
  width: 30rem;
  flex: 0 0 50%;
}

@media screen and (max-width: 56.25em){
  .carousel{
    width: 30rem;
  }

  .hero__picture {
    width: 30rem;
  }
}

.carousel--img {
  display: flex;
  transform: translateX(0);
  transition: transform .2s;
}

.carousel--img img {
  border-radius: .5rem;
}

.carousel__button {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  position: absolute;
  z-index: 100;
}

.previous {
  left: .5rem;
}

.next {
  right: .5rem;
}

.product__info {
  align-self: flex-start;
  /* transform: translateY(20%); */
  z-index: 1;
  margin-left: 3vw;
}



.hero--subhead {
  color: hsl(26, 100%, 55%);
  margin-bottom: 1rem;
  margin-top: 3rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
}

/* @media screen and (max-width: 56.25em){
  .hero--subhead{
    font-size: 4rem;
  }
} */

.product__name {
  font-size: 4rem;
  margin-bottom: 1rem;
}

/* @media screen and (max-width: 56.25em){
  .product__name{
    font-size: 8rem;
  }
} */

.product__description {
  line-height: 1.7;
  font-size: 1.5rem;
  color: #777;
}

/* @media screen and (max-width: 56.25em){
  .product__description{
    font-size: 4rem;
    margin-bottom: 4rem;
  }
} */

.price__details {
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: repeat(2, min-content);
  align-items: center;
  margin-top: 2rem;
  width: 30%;
}

.price {
  display: inline-block;
  margin-right: 1.5rem;
  font-size: 2.5rem;
}

/* @media screen and (max-width: 56.25em){
  .price{
    font-size: 6rem;
  }
} */


.sale {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 2.75rem;
  padding: 1rem;
  background-color: rgba(255, 125, 26, 0.3);
  border-radius: 0.4rem;
}
/* 
@media screen and (max-width: 56.25em){
  .sale{
    width: 8rem;
    height: 7rem;
  }
} */


.sale p {
  font-size: 1.2rem;
  color: rgb(255, 125, 26);
  font-weight: 700;
}

/* @media screen and (max-width: 56.25em){
  .sale p{
    font-size: 3rem;
  }
} */

.original__price {
  display: inline-block;
  margin-top: 1.7rem;
  font-size: 1.5rem;
  color: #333;
  opacity: 0.4;
}

.product-cta {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-column-gap: 2rem;
  margin-top: 2rem;
  width: 100%;
}

/* .product__dropdown {
  margin: 10rem auto;
  padding: 0 4rem;
  height: 40rem;
  width: 80vw;
  transition: all .2s;
}

.product__dropdown--head {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.dropdown--icon {
  width:3rem;
  height:3rem;
  transform: rotate(90deg);
  transition: all .8s;
}

 
.rotate {
  transform: rotate(-90deg)

}

.product__dropdown h3 {
  font-size: 4rem;
}

.product__dropdown--text {
  font-size: 2rem;
  opacity: 0;
  transform: translateY(-1rem);
  transition: opacity .15s ease-in-out, transform .15s ease-in-out;
}

.dropdown--icon:focus +.product__dropdown--text {
  opacity: 1;
  transition: all .8s;
  transform: translateY(1rem);
} */


.accordion {
  max-width: 70vw;
  margin: 10rem auto;
  /* box-shadow: 0 0 1rem rgba(0, 0, 0, .2); */
  border-radius: .5rem;
  overflow: hidden;
  /* background-color: hsl(26, 100%, 55%); */
}



.accordion__label,
.accordion__content {
  padding: 1.4rem 2rem;
}

.accordion__label {
  display: block;
  color: hsl(26, 100%, 55%);
  border-top: 3px solid rgba(0, 0, 0, .3);
  margin-bottom: auto 0;
  font-weight: 400;
  font-size: 3rem;
  cursor: pointer;
  position: relative;
  transition: background .1s;
}

.accordion__label:hover {
  background-color: rgba(0, 0, 0, .1);
}

.accordion__label::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 1.2rem;
  height: .6rem;
  right: 2rem;
  background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF100;" /></svg>');
  background-size: contain;
  transition: transform .4s;
  /* fill: black; */
}


.accordion__content {
  /* background-color: rgba(0, 0, 0, .1); */
  line-height: 1.5;
  font-size: 2.5rem;
  opacity: 0;
  display: none;
  transform: translateY(-1rem);
  transition: all .2s ease-out, block .2s ease-out;
}


.accordion__input {
  display: none;
}

.accordion__input:checked ~ .accordion__content {
  opacity: 1;
  display: block;
  transform: translateY(1rem);
}

.section__list {
  list-style-type: none;
  margin-left: 2rem;
}

.section__list > li {
  margin-bottom: 2rem;
}

@media screen and (max-width: 25em) {
  .accordion__content {
    font-size: 1.5rem;
  }

  .accordion__label {
    font-size: 2rem;
  }
}


@media screen and (max-width: 56.25em){
  .product-cta{
    width: 80%;
  }
}


@media screen and (max-width: 40.65em){
  .product-cta{
    width: 100%;
    grid-template-columns: 100%;
    grid-row-gap: 2rem;
    grid-template-rows: repeat(2, 1fr) ;
  }
}

.action--items {
  flex: 0 0 40%;
  display: flex;
  justify-content: space-around;
  border-radius: 1rem;
  align-items: center;
  padding: .4rem .5rem;
  background-color: rgba(0, 0, 0, .05);
}

.remove--item {
  transform: scale(0.3);
  flex: 0 0 30%;
  cursor: pointer;
}

.item--amount {
  font-size: 3rem;
  text-align: center;
}

.add--item {
  transform: scale(0.3); 
  flex: 0 0 30%;
  cursor: pointer;
}

.add--cart {
  flex: 1;
  background-color: rgb(255, 125, 26);
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  padding: 1rem 4rem; 
  transition: all .2s;
}

.add--cart  p {
  color: white;
  font-size: 2rem;
  font-weight: 700;
}

@media screen and (max-width: 68.75em){
  .add-cart {
    padding: 1rem 3rem;
  }
}

.cta__cart {
  color: white;
  margin-right: 3rem;
  transform: scale(1.8);
}

 

.cart__section {
  width: 30rem;
  height: min-content;
  padding: 0 2rem;
  padding-top: 2rem;
  background-color: #fff;
  box-shadow: 0 .8rem 2rem rgba(0, 0, 0, .3);
  display: inline-block;
  position: absolute;
  top: -5rem;
  right: 10rem;
  border-radius: .5rem;
}

.cart__section h4 {
  border-bottom:1px solid #777;
  font-size: 1.5rem;
  color: black;
  padding-bottom: 2rem;
}

.cart__section {
  z-index: 10;
}

.cart--item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3rem;
  margin-top: 2rem;
  font-size: 1.3rem;
}

.item-name {
  margin-bottom: .7rem;
}

.dimmed {
  opacity: .7;
}

.cart--item-img {
  height: 100%;
  border-radius: .5rem;
}

.cart--item-text {
  flex: 0 0 70%;
  /* opacity: 0.7; */
}

.total {
  opacity: 1;
  color: black;
  font-weight: bold;
  font-size: 1.6rem;
}

.checkout--btn {
  width: 100%;
  height: 5rem;
  background-color: rgb(255, 125, 26);
  border: none;
  border-radius: .5rem;
  margin: 2rem 0;
  color: white;
  font-weight: 700;
}

.hidden {
  display: none;
}

.reviews {
  margin-top: 10rem;
}

.reviews__header {
  font-size: 4rem;
  display: block;
  width: 70%;
  margin: 5rem auto;
  padding: 2rem;
  /* height: 10rem; */
}

.review {
  width: 70%;
  margin: 5rem auto;
  padding: 2rem 3rem;
  height: 20rem;
  box-shadow: 8px 9px 15px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 8px 9px 15px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 8px 9px 15px 0px rgba(0,0,0,0.75);
position: relative;
}

.review__user--info {
  display: flex;

  align-items: center;
  /* justify-content: space-between; */
  
  /* display: grid;
  grid-template-columns: min-content max-content max-content;
  align-items: center;
  justify-items: center;
  grid-column-gap: 2rem; */
  margin-right: auto;
  width: 100%;
  z-index: 4;
}

.review__rating {
  font-size: 2.5rem;
  font-weight: 700;
}

.review__user--name {
  font-size: 2rem;
  margin-right: auto;
  margin-left: 2rem;
}

.review__text {
  font-size: 1.8rem;
  display: block;
  position: absolute;
  /* top: 50%; */
  margin: 2rem 1rem;
  z-index: 25;
}